{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "mocha": true
    },
    "rules": {
        "comma-dangle": [ 
            "error",
            "never"
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "double"
        ],
        "func-names": [
            "error",
            "never"
        ],
        "no-underscore-dangle": 0,
        "arrow-body-style": [
            "warn",
            "as-needed",
            {
                "requireReturnForObjectLiteral": true
            }
        ],
        "object-curly-newline": [
            "error",
            {
                "ImportDeclaration": "always",
                "ExportDeclaration": "never"
            }
        ],
        "no-else-return": 0,
        "max-len": 0,
        "no-undef": 0,
        "prefer-arrow-callback": 0,
        "no-param-reassign": 0
    }
}